* {
    margin: 0;
    padding: 0;

}
.p-3 {
padding:0rem!important;
}
section {
    color: #ffffff;
}
body {
    background-color: rgb(33,37,41);
}
a {
    text-decoration: none;
}
.header {
    width: 15%;
    height: 100%;
    background-color: rgb(190, 70, 70);
    gap: 200px;
    color: #ffffff;
}
.nav_meni {
    gap: 20px;
}
.nav_meni a {
    color: #ffffff;
}
input::placeholder {
    color: rgb(33,37,41);
  }
  .section_back {
    background-image: url('/img/1673177565_foni-club-p-oboi-anime-cherno-zheltie-1.png') ;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;

  }
  .banner_main {
    padding-top: 15%;
    color: #ffe600;
    font-size:calc(12px + 8 * (100vw - 320px) / 880);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
